@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Outfit;
}

@supports (padding-top: env(safe-area-inset-top)) {
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
  
  .mt-safe {
    margin-top: env(safe-area-inset-top);
  }
  
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

/* Ensure your layout accounts for iOS safe areas */
html {
  height: -webkit-fill-available;
}

body {
  min-height: -webkit-fill-available;
}